/*Sasha css*/
body {
    background-color: black;
  }
  .contact {
    flex: 1 0 auto;
    margin-top: 90px;
    /* background: black; */
  }
  .form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .form h2,
  .form label {
    color: white;
  }
  input[type=text],
  input[type=email],
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px
  }
  input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 30px
  }
  input[type=submit]:hover {
    background-color: #4B524C;
  }
  .contact-hero {
    /* background-image: url('assets/images/hero-img.jpg');
    background-repeat: no-repeat;
    background-size: 50% auto !important;
    z-index: 99; */
    margin-top: 70px;
  }